table {
  border-collapse: collapse;
}

thead {
  background-color: var(--surface-2);
  color: var(--text-1);
}

th {
  font-weight: 800;
}

th,
td {
  text-align: left;
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--surface-3);
}

.number-cell {
  text-align: right;
  font-variant-numeric: tabular-nums;
}
